/* Basic Formatting */
body {
  padding-top: 3.5rem;
}

.row {
  margin-bottom: 1rem;
}

/* Header */
.info-header {
  position: relative;
  background: url(../Images/dark-map.jpg) no-repeat center center fixed;
  background-size: cover;
}

.info-header .container{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-clip: content-box;
}

#header-content {
  background: rgba(76, 76, 76, 0.6);
  border-radius: 15px;
  color: white;
}

#header-image {
  display: block;
  border-radius: 15px;
  margin: 0 auto;
}

/* Information Overflow */
.more-info {
  text-align: center;
  padding: 5rem;
  font-size: 1.3rem;
  font-weight: 300;
}

/* Site Features */
.site-features {
  padding: 3rem;
  background-color: #e0e0e0;
}

.card-deck {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.card-footer {
  text-align: center;
}

.card-footer .row{
  margin: 0;
}

/* Inner Workings */
.inner-workings {
  padding: 3rem;
}

.inner-workings .container {
  margin: 3rem;
}

.center-center {
text-align: center;
}

img.rectangle {
  object-fit: contain;
  width:400px;
  height:200px;
  display: block;
  margin: 0 auto;
}
