/* Basic Formatting */
body {
  padding-top: 3rem;
}

/* User cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    display: inline-block;
}

.title {
    color: grey;
    font-size: 18px;
}

.contact-button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.contact-button a{
    color: white;
}

.contact-button a:hover{
    text-decoration: none;
}

.special-links {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.contact-button:hover, a:hover {
    opacity: 0.7;
}

img {
    max-width: 250px;
    max-height: 300px;
}
