html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px;
  font-family: 'Raleway', sans-serif;
  z-index:1;
  }
#draggable {
  z-index:100;
  background-color: rgba(200,200,255,.7);
  width: 300px;
  padding: 20px;
  position:absolute;
  top:150px;
  left:120px;
  cursor: move;
  border: black 1px solid;
}
#radius-label, #opacity-label, #max-label {
  margin-top: 10px;
}
#radius-slider, #opacity-slider, #max-slider {
  width:250px;
  margin-top: 10px;
}
.project {
  font-size: 10pt;
  font-weight: bold;
  margin-bottom: 10px;
}
#radius-slider .ui-slider-handle,
#opacity-slider .ui-slider-handle,
#max-slider .ui-slider-handle {
  cursor:pointer;
}
