html,body
{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
body
{
	line-height:1;
}
html
{
	overflow-y:scroll;
}
body
{
	
	background-repeat:repeat-x;
	background-attachment:fixed;
	color:#bbb;
	font-family:sans-serif;
	text-align:center;
	line-height:1.3em;
	font-size:.9em;background-color:#222;
}